@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~vali-admin/src/sass/1-tools/bootstrap-source/variables";

.multiselect__tags {
  min-height: $input-height !important;
  display: block;
  padding: 8px 40px 0 8px !important;
  border-radius: 4px !important;
  border: 2px solid #ced4da !important;
  background: #fff;
  font-size: 14px
}
